.TempsecMain
{
    z-index: 99 !important;
    width: 39%;
    height: 450px;
    margin: auto;
    margin-top: 8%;
    background-color: rgb(172, 188, 223);
    border: 1px solid rgb(2, 95, 50);
    align-items: center;
    justify-content: center;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
 min-height: 200px;
  border-radius: 10px;
}
.Tempsecinput
{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    border: 5px solid rgb(172, 188, 223);
    padding: 10px;
}
.Tempsecbody{
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    border: 5px solid rgb(172, 188, 223);
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.inputfield
{
    height: 40px;
    border: 2px solid rgb(118, 139, 201);
    border-radius: 10px;
}
.icon
{
    margin-right: 15px;
    font-size: 70px;
}


.location
{
    font-size: 2.6em;
    font-weight: bolder;
    font-family: 'Roboto Serif', sans-serif;
}
.Nodata{
    position: absolute;
    left: 45%;
    top: 40%;
    text-align: centre;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
.temp
{
    font-size: 1.7em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.tempmin_max
{
    font-size: 1em;
    color: rgb(68, 73, 77);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}












.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #6d86c0;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.46, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 5s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}